*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    height: 80px;
    background-color: gainsboro;
}

#heading{
    font-size: 30px;
    color: orange;
    margin-top: 7px;
}

#subheading{
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 4px;
}

#middle{
    background-color: white;
}

#search-bar{
    width: 50px;
    height: 30px;
    
}